{
    "plugins": [
        "@babel/plugin-transform-flow-strip-types",
        "@babel/plugin-proposal-object-rest-spread"
    ],
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "node": "12"
            },
            "exclude": ["proposal-dynamic-import"]
        }]
    ],
    "sourceMaps": "inline"
}
