{
    "plugins": [
        "@babel/plugin-transform-flow-strip-types"
    ],
    "presets": [
        "@babel/preset-typescript",
        ["@babel/preset-env", {
            "targets": {
                "node": "18"
            },
            "exclude": ["proposal-dynamic-import"]
        }]
    ],
    "sourceMaps": "inline"
}
