node_modules
npm-debug.log
*.md
Dockerfile
.dockerignore
.gitignore
.travis.yml
.istanbul.yml
.git
.github

# Build folder
lib/

# Tests
spec/
# Keep local dependencies used to CI tests
!spec/dependencies/

# IDEs
.idea/
