{
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
    ],
    "presets": [
        "@babel/preset-typescript",
        ["@babel/preset-env", {
            "targets": {
                "node": "18"
            }
        }]
    ],
    "sourceMaps": "inline"
}
