{
    "plugins": [
        "transform-object-rest-spread"
    ],
    "presets": [
        ["env", {
            "targets": {
                "node": "8"
            }
        }]
    ],
    "sourceMaps": "inline",
    "retainLines": true
}
