{
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
    ],
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "node": "14"
            }
        }]
    ],
    "sourceMaps": "inline",
    "retainLines": true
}
