name: ci
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'
env:
  NODE_VERSION: 14.17.6
  PARSE_SERVER_TEST_TIMEOUT: 20000
jobs:
  check-ci:
    name: CI Self-Check
    timeout-minutes: 15
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache Node.js modules
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ matrix.NODE_VERSION }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.NODE_VERSION }}-
      - name: Install dependencies
        run: npm ci
      - name: CI Environments Check
        run: npm run ci:check
      - name: CI Node Engine Check
        run: npm run ci:checkNodeEngine
  check-changelog:
    name: Changelog
    timeout-minutes: 5
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - uses: dangoslen/changelog-enforcer@v2
  check-lint:
     name: Lint
     timeout-minutes: 15
     runs-on: ubuntu-18.04
     steps:
       - uses: actions/checkout@v2
       - name: Use Node.js ${{ matrix.NODE_VERSION }}
         uses: actions/setup-node@v2
         with:
           node-version: ${{ matrix.node-version }}
       - name: Cache Node.js modules
         uses: actions/cache@v2
         with:
           path: ~/.npm
           key: ${{ runner.os }}-node-${{ matrix.NODE_VERSION }}-${{ hashFiles('**/package-lock.json') }}
           restore-keys: |
             ${{ runner.os }}-node-${{ matrix.NODE_VERSION }}-
       - name: Install dependencies
         run: npm ci
       - run: npm run lint
  check-circular:
     name: Circular Dependencies
     timeout-minutes: 5
     runs-on: ubuntu-18.04
     steps:
       - uses: actions/checkout@v2
       - name: Use Node.js ${{ matrix.NODE_VERSION }}
         uses: actions/setup-node@v2
         with:
           node-version: ${{ matrix.node-version }}
       - name: Cache Node.js modules
         uses: actions/cache@v2
         with:
           path: ~/.npm
           key: ${{ runner.os }}-node-${{ matrix.NODE_VERSION }}-${{ hashFiles('**/package-lock.json') }}
           restore-keys: |
             ${{ runner.os }}-node-${{ matrix.NODE_VERSION }}-
       - name: Install dependencies
         run: npm ci
       - run: npm run madge:circular
  check-docker:
    name: Docker Build
    timeout-minutes: 5
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Build docker image
        uses: docker/build-push-action@v2
  check-lock-file-version:
    name: NPM Lock File Version
    timeout-minutes: 5
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Check NPM lock file version
        uses: mansona/npm-lockfile-version@v1
        with:
          version: 1
  check-mongo:
    strategy:
      matrix:
        include:
          - name: MongoDB 5.0, ReplicaSet, WiredTiger
            MONGODB_VERSION: 5.0.2
            MONGODB_TOPOLOGY: replicaset
            MONGODB_STORAGE_ENGINE: wiredTiger
            NODE_VERSION: 14.17.6
          - name: MongoDB 4.4, ReplicaSet, WiredTiger
            MONGODB_VERSION: 4.4.8
            MONGODB_TOPOLOGY: replicaset
            MONGODB_STORAGE_ENGINE: wiredTiger
            NODE_VERSION: 14.17.6
          - name: MongoDB 4.2, ReplicaSet, WiredTiger
            MONGODB_VERSION: 4.2.16
            MONGODB_TOPOLOGY: replicaset
            MONGODB_STORAGE_ENGINE: wiredTiger
            NODE_VERSION: 14.17.6
          - name: MongoDB 4.0, ReplicaSet, WiredTiger
            MONGODB_VERSION: 4.0.27
            MONGODB_TOPOLOGY: replicaset
            MONGODB_STORAGE_ENGINE: wiredTiger
            NODE_VERSION: 14.17.6
          - name: MongoDB 4.0, Standalone, MMAPv1
            MONGODB_VERSION: 4.0.27
            MONGODB_TOPOLOGY: standalone
            MONGODB_STORAGE_ENGINE: mmapv1
            NODE_VERSION: 14.17.6
          - name: Redis Cache
            PARSE_SERVER_TEST_CACHE: redis
            MONGODB_VERSION: 4.4.8
            MONGODB_TOPOLOGY: standalone
            MONGODB_STORAGE_ENGINE: wiredTiger
            NODE_VERSION: 14.17.6
          - name: Node 12
            MONGODB_VERSION: 4.4.8
            MONGODB_TOPOLOGY: standalone
            MONGODB_STORAGE_ENGINE: wiredTiger
            NODE_VERSION: 12.22.6
          - name: Node 15
            MONGODB_VERSION: 4.4.8
            MONGODB_TOPOLOGY: standalone
            MONGODB_STORAGE_ENGINE: wiredTiger
            NODE_VERSION: 15.14.0
      fail-fast: false
    name: ${{ matrix.name }}
    timeout-minutes: 15
    runs-on: ubuntu-18.04
    services:
      redis:
        image: redis
        ports:
            - 6379:6379
    env:      
      MONGODB_VERSION: ${{ matrix.MONGODB_VERSION }}
      MONGODB_TOPOLOGY: ${{ matrix.MONGODB_TOPOLOGY }}
      MONGODB_STORAGE_ENGINE: ${{ matrix.MONGODB_STORAGE_ENGINE }}
      PARSE_SERVER_TEST_CACHE: ${{ matrix.PARSE_SERVER_TEST_CACHE }}
      NODE_VERSION: ${{ matrix.NODE_VERSION }}
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.NODE_VERSION }}
      - name: Cache Node.js modules
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ matrix.NODE_VERSION }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.NODE_VERSION }}-
      - name: Install dependencies
        run: npm ci
      - run: npm run pretest
      - run: npm run coverage
        env:
          CI: true
      - run: bash <(curl -s https://codecov.io/bash)
  check-postgres:
    strategy:
      matrix:
        include:
          - name: PostgreSQL 11, PostGIS 3.0
            POSTGRES_IMAGE: postgis/postgis:11-3.0
            NODE_VERSION: 14.17.6
          - name: PostgreSQL 11, PostGIS 3.1
            POSTGRES_IMAGE: postgis/postgis:11-3.1
            NODE_VERSION: 14.17.6
          - name: PostgreSQL 12, PostGIS 3.1
            POSTGRES_IMAGE: postgis/postgis:12-3.1
            NODE_VERSION: 14.17.6
          - name: PostgreSQL 13, PostGIS 3.1
            POSTGRES_IMAGE: postgis/postgis:13-3.1
            NODE_VERSION: 14.17.6
      fail-fast: false
    name: ${{ matrix.name }}
    timeout-minutes: 15
    runs-on: ubuntu-18.04
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
      postgres:
        image: ${{ matrix.POSTGRES_IMAGE }}
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      PARSE_SERVER_TEST_DB: postgres
      PARSE_SERVER_TEST_DATABASE_URI: postgres://postgres:postgres@localhost:5432/parse_server_postgres_adapter_test_database
      NODE_VERSION: ${{ matrix.NODE_VERSION }}
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.NODE_VERSION }}
      - name: Cache Node.js modules
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ matrix.NODE_VERSION }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.NODE_VERSION }}-
      - name: Install dependencies
        run: npm ci
      - run: bash scripts/before_script_postgres.sh
      - run: npm run coverage
        env:
          CI: true
      - run: bash <(curl -s https://codecov.io/bash)
