name: ci
on: [push, pull_request]
env:
  COVERAGE_OPTION: ./node_modules/.bin/nyc
  NODE_VERSION: 10
jobs:
  check-mongo:
    strategy:
      matrix:
        include:
          - name: Mongo 4.0.4, ReplicaSet, WiredTiger
            MONGODB_VERSION: 4.0.4
            MONGODB_TOPOLOGY: replicaset
            MONGODB_STORAGE_ENGINE: wiredTiger
            NODE_VERSION: 10
          - name: Mongo 3.6.9
            MONGODB_VERSION: 3.6.9
            NODE_VERSION: 10
          - name: Redis Cache
            PARSE_SERVER_TEST_CACHE: redis
            NODE_VERSION: 10
          - name: Node 12.12.0
            NODE_VERSION: 12.12.0
    name: ${{ matrix.name }}
    runs-on: ubuntu-16.04
    services:
      redis:
        image: redis
        ports:
            - 6379:6379
    env:      
      MONGODB_VERSION: ${{ matrix.MONGODB_VERSION }}
      MONGODB_TOPOLOGY: ${{ matrix.MONGODB_TOPOLOGY }}
      MONGODB_STORAGE_ENGINE: ${{ matrix.MONGODB_STORAGE_ENGINE }}
      PARSE_SERVER_TEST_CACHE: ${{ matrix.PARSE_SERVER_TEST_CACHE }}
      NODE_VERSION: ${{ matrix.NODE_VERSION }}
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.NODE_VERSION }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.NODE_VERSION }}
      - run: npm install
      - if: ${{ matrix.name == 'Mongo 3.6.9' }}
        run: npm run lint
      - run: npm run coverage
      - if: ${{ matrix.name == 'Mongo 3.6.9' }}
        run: bash <(curl -s https://codecov.io/bash)
  check-postgres:
      name: Postgresql
      runs-on: ubuntu-16.04
      services:
        redis:
          image: redis
          ports:
            - 6379:6379
        postgres:
          image: postgres:11
          ports:
            - 5432:5432
          options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      env:
        PARSE_SERVER_TEST_DB: postgres
        POSTGRES_MAJOR_VERSION: 11
        PARSE_SERVER_TEST_DATABASE_URI: postgres://localhost:5432/parse_server_postgres_adapter_test_database
      steps:
        - uses: actions/checkout@v2
        - name: Use Node.js 10
          uses: actions/setup-node@v1
          with:
            node-version: 10
        - run: npm install
        - run: bash scripts/before_script_postgres.sh
        - run: npm run coverage