name: Issue Bot
on:
  issues:
    types: [opened, reopened, edited]
  pull_request:
    types: [opened, reopened, edited]
jobs:
  issue-bot:
    runs-on: ubuntu-latest
    steps:
    - name: Inspect Issue
      uses: parse-community/parse-issue-bot@main
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
